<% include partials/_header %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-9">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>No</td>
            <td>Nama</td>
            <td>Alamat</td>
            <td>No HP</td>
            <td>Iuran</td>
            <td>Tanggal</td>
            <td>Aksi</td>
          </tr>
        </thead>
        <tbody>
          <% 
           if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].name %></td>
                <td><%= data[i].address %></td>
                <td><%= data[i].phone %></td>
                <td><%= data[i].iuran %></td>
                <td><%= data[i].tanggal %></td>
                <td>
                  <a href="/update/<%= data[i].id %>" class="btn btn-info btn-sm rounded"><span><i class="fa fa-pencil"></i></span></a>
                  <a href="/delete/<%= data[i].id %>" class="btn btn-danger btn-sm rounded"><span><i class="fa fa-trash"></i></span></a>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-md-3">
      <div class="card-body">

        <form action="/add" method="POST">
          <div class="form-group">
            <input type="text" name="name" placeholder="Nama" class="form-control" autofocus>
          </div>
          <div class="form-group">
            <input type="text" name="address" placeholder="Alamat" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="phone" placeholder="HP" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="iuran" placeholder="Iuran" class="form-control">
          </div>
          <div class="form-group">
            <input type="date" name="tanggal" class="form-control" 
            placeholder="dd-mm-yyyy" value=""
            min="1997-01-01" max="2030-12-31">
          </div>

          <button type="submit" class="btn btn-info btn-sm rounded">
            <span><i class="fa fa-save"></i>&nbsp;&nbsp;Simpan</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function formatDate(date) {
    var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;

    return [year, month, day].join('-');
}
</script>

<% include partials/_footer %>
